@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin size($w: inherit, $h: inherit) {
    width: $w;
    height: $h;
}

@mixin background($url) {
    background-image: url($url);
}

@mixin font($size, $weight, $lineHeight, $family: inherit) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    font-family: $family;
}