@import './scss/_mixins.scss';
@import './scss/_variables.scss';

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
  }

body, html {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
}

main {
    @include size(100vw, 100vh);
    @include flex(flex-start, center, row);
}

.content {
    @include size(82.1333%, 82.2660%);
    @include flex(center, flex-start, column);
    margin-top: 34px;
    background-color: red;
}

.image {
    @include size(97.4025%, 44.9101%);
    background-color: blue;
}

.text {
    @include size(97.0779%, 15.4191%);
    @include flex(center, space-between, column);
    text-align: center;
    margin-top: 7px;
    background-color: yellow;
}

.pagination {
    @include size(22.7272%, 1.7964%);
    @include flex(center, space-between, row);
    margin-top: 64px;
    background-color: green;

    .point {
        @include size(17.1428%, 100%);
        border-radius: 50%;
        background-color: white
    }
}

.buttons {
    @include size(100%, 17.8143%);
    @include flex(center, space-between, column);
    margin-top: 63px;
    background-color: purple;
}

.next {
    @include size(100%, 45.3781%);
    @include flex(center, center, column);
    text-align: center;
    color: white;
    background-color: $primary;
}